/* by maxime dourov */
body {
	background-color: hsl(70, 8%, 15%);

	display: grid;
	grid-template-columns: 30% 70%;
	grid-template-rows: 20% 80%;
	grid-gap: 0px 0px;
}

img {
	width: 32px;
	height: 32px;
	margin: 0px;

}

li {
	color: hsl(60, 30%, 96%);
	text-align: left;
	font-family: 'Courier New', monospace;
	margin-left: 15px;
}

p {
	color: hsl(60, 30%, 96%);
	text-align: center;
	font-family: 'Courier New', monospace;
	word-wrap: break-word;
}

.text {
	color: hsl(60, 30%, 96%);
	text-align: center;
	font-family: 'Courier New', monospace;
}

aside {
	grid-row: 2;
	grid-column: 1;
}

main {
	grid-row: 2;
	grid-column: 2;

}

header {
	grid-row: 1;
	grid-column: 2;
}

#board {
	background-image: url("assets/grid.png");
	background-size: 352px 352px;

	width: 320px;
	height: 320px;

	padding-top: 32px;
	padding-left: 32px;

	margin: 25px auto;

	display: grid; 
  	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
  	grid-gap: 0px 0px;
  	grid-template-areas: 
	    "G00 G10 G20 G30 G40 G50 G60 G70 G80 G90"
	    "G01 G11 G21 G31 G41 G51 G61 G71 G81 G91"
	    "G02 G12 G22 G32 G42 G52 G62 G72 G82 G92"
	    "G03 G13 G23 G33 G43 G53 G63 G73 G83 G93"
	    "G04 G14 G24 G34 G44 G54 G64 G74 G84 G94"
	    "G05 G15 G25 G35 G45 G55 G65 G75 G85 G95"
	    "G06 G16 G26 G36 G46 G56 G66 G76 G86 G96"
	    "G07 G17 G27 G37 G47 G57 G67 G77 G87 G97"
	    "G08 G18 G28 G38 G48 G58 G68 G78 G88 G98"
	    "G09 G19 G29 G39 G49 G59 G69 G79 G89 G99"; 
}

#controls {
	width: fit-content;
	height: fit-content;

	margin: 0 auto;
}